@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import "tailwindcss";

@layer utilities {
  .primary-color {
    color: #008540;
  }
  .secondary-color {
    color: #d9dae4;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .title-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .text-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
}
